@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: 0;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F5F5;
}

header{
    background-image: url(images/hero.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    align-items: center;
    display: flex;
}

.cotainer{
    max-width: 1100px;
    margin: 0 auto;

}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

.menu .logo{
    font-weight: 700;
    font-size: 25px;
    color:#ffffff;
    padding-left:3% ;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #0eaef3;
}

#menu{
    display:none;
}

.menu_icono{
    width: 25px;
}

.menu label {
    cursor:pointer;
    display: none;
}

.header-content{
    display: flex;
    padding-left: 30%;
}

.content{
    padding: 150px 150px 0px 0px;
}

.content h1{
    color: #ffffff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
}

.content p{
    margin-top: 25px;
    color: #aab1ff;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;
}

.btn-1{
    display: inline-block;
    background-color: rgba(170,177,255,0.3);
    border: 1px solid #aab1ff;
    margin: 35px 10px 0px 0px;
    padding: 15px 25px;
    color: #ffffff;
    border-radius: 25px;

}

p{
    text-size-adjust: 5;
}

.services{
    display: flex;
}

.errores {
    align-items: center;
}

section{
    display: flex;
    width: 72%;
    height: 600px;
    padding-left: 14%;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .8s ease;
}

section img:hover{
    cursor:crosshair;
    width: 60%;
    opacity: 1;
    filter: contrast(120%);
}